@mixin style-card($width, $height) {
  width: $width;
  height: $height;
}
@mixin style-text-middle($color, $flex-direction, $text-align) {
  color: $color;
  flex-direction: $flex-direction;
  text-align: $text-align;
  // align-items: center;
  // justify-content: center;
}
@mixin style-h4($size, $weight) {
  font-size: $size;
  font-weight: $weight;
}
