@import url("https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,100;8..144,200;8..144,300;8..144,400;8..144,500;8..144,600;8..144,700;8..144,800&family=Roboto:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Roboto+Flex:opsz,wght@8..144,100;8..144,200;8..144,300;8..144,400;8..144,500;8..144,600;8..144,700;8..144,800&family=Roboto:wght@700&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  font-size: 13.5px;
}

.thea, nav .container ul li a {
  text-decoration: none;
  color: rgb(0, 0, 0);
  font-size: small;
  font-weight: 600;
  transition: all 0.2s ease;
}

.canhggiua, .AllAboutUs .container .AboutUs {
  display: flex;
  align-items: center;
  justify-content: center;
}

.bg, .footer, .bg-subcribe .bg-subcriber, .bg-subcribe, .Courses .talk__img, .bgCard .bgmiddleCard, .bg__Courses .bgmiddleCard, .bg__Courses .bg__mdCourses, .AllAboutUs .container .ImgTalkUs, .bgAboutUs, .bgHeader {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.remove_border, .newslatter li input {
  border: 0 solid;
  outline: none;
}

.bgHeader {
  background-image: url(./images/yellow_top_wave_01.png);
  height: 14rem;
  position: relative;
  max-width: 100rem;
}

nav {
  background-color: rgba(182, 25, 25, 0);
  width: 100%;
  top: 0;
  position: fixed;
  z-index: 2000;
}
nav .container {
  max-width: 1358px;
  display: flex;
  margin: auto;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}
nav .container .check-box {
  position: absolute;
  height: 40px;
  width: 40px;
  opacity: 0;
  z-index: 1;
  transition: all 0.3 ease;
}
nav .container .check-box:checked ~ .menu-bar span::before {
  transform: rotate(90deg);
}
nav .container .check-box:checked ~ .menu-bar span::after {
  transform: rotate(-90deg);
}
nav .container .check-box:checked ~ .menu-bar span {
  transform: rotate(135deg);
}
nav .container .check-box:checked ~ ul {
  left: 0;
}
nav .container .check-box:checked ~ .call {
  left: 0;
}
nav .container .menu-bar {
  height: 40px;
  width: 40px;
  cursor: pointer;
  display: none;
  align-items: center;
}
nav .container .menu-bar span {
  position: relative;
  height: 3px;
  width: 100%;
  display: block;
  background-color: rgb(0, 0, 0);
  transition: all 0.3s ease;
}
nav .container .menu-bar span::before {
  content: "";
  position: absolute;
  background-color: rgb(0, 0, 0);
  display: block;
  height: 100%;
  width: 100%;
  transform: translateY(-10px);
}
nav .container .menu-bar span::after {
  content: "";
  position: absolute;
  background-color: rgb(0, 0, 0);
  display: block;
  height: 100%;
  width: 100%;
  transform: translateY(10px);
}
nav .container .logo {
  margin-right: 16rem;
}
nav .container .logo img {
  height: 80px;
  width: 80px;
}
nav .container ul {
  list-style: none;
  display: flex;
  align-items: center;
  transition: all 0.3s ease;
}
nav .container ul li {
  padding: 6px 20px;
  transition: all 0.3s ease;
}
nav .container ul li a:hover {
  color: #b61984;
  text-decoration: none;
  transition: all 0.2s ease;
}
nav .container .call {
  padding-top: 12px;
  width: 25rem;
  height: 5rem;
  transition: all 0.3s ease;
}
nav .container .call .call-number {
  background-color: #b61984;
  width: 10rem;
  height: 40px;
  border-radius: 50px;
  float: left;
  margin-top: 5px;
  margin-left: 2rem;
  margin-right: 1rem;
}
nav .container .call .call-number i {
  margin-top: 13px;
  color: rgb(255, 255, 255);
  padding-left: 15px;
  float: left;
  font-size: small;
}
nav .container .call .call-number p {
  font-size: smaller;
  padding-left: 2rem;
  padding-top: 8px;
  color: rgb(255, 255, 255);
  font-weight: 600;
}
nav .container .call .icon {
  margin-top: 11px;
}
nav .container .call .icon i {
  margin: 0 5px;
  font-size: small;
}

@media (max-width: 767px) {
  nav {
    background-color: rgb(255, 255, 255);
  }
  .logo {
    margin-left: 40%;
  }
  ul {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 80px;
    background-color: rgb(255, 255, 255);
    left: -100%;
    flex-direction: column;
    padding-top: 50px;
  }
  ul li {
    margin-top: 20px;
  }
  .menu-bar {
    display: flex !important;
    position: absolute;
    margin-right: 6rem;
  }
  .call {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 30rem;
    left: -100%;
  }
  .call .call-number {
    left: 0;
  }
}
.bgAboutUs {
  background-image: url(./images/Violet_top_left_wave.png);
  width: 100%;
  height: 16rem;
  position: relative;
  top: 15rem;
}

.AllAboutUs {
  top: 80px;
  position: absolute;
  width: 100%;
}
.AllAboutUs .container .AboutUs #language a {
  font-size: 57px;
  font-family: "Roboto Flex", sans-serif;
  font-weight: 700;
}
.AllAboutUs .container .ImgTalkUs {
  height: 580px;
  width: 580px;
  background-image: url(./images/hero_team.png);
}

.bgCard, .bg__Courses {
  background-color: #dcd1f0;
  height: 55rem;
  width: 100%;
  position: relative;
  transform: rotate(0.5turn);
  top: 15rem;
}
.bgCard .bgmiddleCard, .bg__Courses .bgmiddleCard, .bg__Courses .bg__mdCourses {
  background-image: url(./images/Wave_White_bottom_right_shape_01.png);
  height: 25rem;
  position: relative;
}

.main-teachers {
  position: absolute;
  width: 100%;
  top: 50rem;
}
.main-teachers .container {
  max-width: 1244px;
}
.main-teachers .container .border-card {
  padding: 20px 20px;
}
.main-teachers .container .border-card .card {
  overflow: hidden;
}
.main-teachers .container .border-card .card:hover {
  box-shadow: 0 0 10px 0;
  transition: all 0.5s ease;
}
.main-teachers .container .border-card .card img {
  transition: all 1s ease;
}
.main-teachers .container .border-card .card img:hover {
  transform: scale(1.1);
}
.main-teachers .container .border-card .card .card-body .card-title {
  color: rgb(0, 0, 0);
  flex-direction: column;
  text-align: center;
  font-weight: 700;
  font-family: "Montserrat", sans-serif;
}
.main-teachers .container .border-card .card .card-body .card-title span {
  color: #b61984;
  flex-direction: column;
  text-align: center;
  font-size: 0.75rem;
  margin-bottom: 0.7em;
}
.main-teachers .container .border-card .card .card-body .card-text {
  color: rgb(0, 0, 0);
  flex-direction: column;
  text-align: center;
}

.bg__Courses {
  height: 35rem;
  background-color: rgb(255, 255, 255);
  position: relative;
}
.Courses {
  z-index: 1000;
  position: absolute;
  top: 103rem;
  width: 100%;
}
.Courses .talk__img {
  margin-left: 5rem;
  max-width: 30rem;
  height: 30rem;
  background-image: url(http://tabula.bold-themes.com/wavy/wp-content/uploads/sites/3/2019/04/conatct_inner.png);
}
.Courses .input__name {
  top: 1rem;
}
.Courses .input__name .card__input {
  height: 28rem;
  background-color: rgb(255, 255, 255);
  border-radius: 5px;
  box-shadow: 0 0 10px 0;
  padding: 1rem;
}
.Courses .input__name .card__input h1 {
  color: rgb(0, 0, 0);
  flex-direction: column;
  text-align: center;
}
.Courses .input__name .card__input .name, .Courses .input__name .card__input .col-md-12 .Message, .Courses .input__name .card__input .col-md-12 .lg-options {
  border-style: solid;
  width: 12rem;
  height: 38px;
  padding: 0.5rem 0.6rem 0.6rem 0.6rem;
  display: flex;
  border-radius: 55px;
  border-width: 1px;
}
.Courses .input__name .card__input .name i, .Courses .input__name .card__input .col-md-12 .Message i, .Courses .input__name .card__input .col-md-12 .lg-options i {
  margin-left: 0.5rem;
  color: #b61984;
  margin-top: 4px;
}
.Courses .input__name .card__input .name input, .Courses .input__name .card__input .col-md-12 .Message input, .Courses .input__name .card__input .col-md-12 .lg-options input {
  border: 0px solid;
  margin-left: 0.7rem;
  width: 8rem;
  height: 20px;
}
.Courses .input__name .card__input .name input:focus, .Courses .input__name .card__input .col-md-12 .Message input:focus, .Courses .input__name .card__input .col-md-12 .lg-options input:focus {
  outline: 0;
}
.Courses .input__name .card__input .col-md-12 {
  padding: 0;
}
.Courses .input__name .card__input .col-md-12 .lg-options {
  margin-top: 20px;
  width: 100%;
}
.Courses .input__name .card__input .col-md-12 .lg-options .choose {
  height: 1.5rem;
  width: 25rem;
  margin-left: 0.7rem;
  top: 0;
  border: 0 solid;
  outline: 0;
}
.Courses .input__name .card__input .col-md-12 .Message {
  margin-top: 20px;
  width: 100%;
  height: 7rem;
  border-radius: 1rem;
}
.Courses .input__name .card__input .col-md-12 .Message textarea {
  width: 100%;
  height: 6rem;
  border: 0;
  outline: 0;
  margin-left: 0.7rem;
}
.Courses .input__name .card__input .icon-container {
  margin-top: 20px;
}
.Courses .input__name .card__input .icon-container .icon {
  border-radius: 50px;
  border: 2px #b61984;
  border-style: ridge;
  align-items: center;
  width: 120px;
  height: 40px;
  color: rgb(0, 0, 0);
  flex-direction: column;
  text-align: center;
  align-items: center;
}
.Courses .input__name .card__input .icon-container .icon .icon-extend .send {
  border: 0px;
  outline: 0px;
  top: 360px;
  left: 31px;
  font-size: small;
  font-weight: 500;
  padding-top: 9px;
  width: 120px;
  height: 40px;
  color: rgb(0, 0, 0);
  flex-direction: column;
  text-align: center;
  align-items: center;
  color: rgb(255, 255, 255);
  z-index: 1;
  cursor: pointer;
  color: rgb(255, 255, 255);
  position: absolute;
}
.Courses .input__name .card__input .icon-container .icon .icon-extend .send:hover {
  color: #b61984;
  transition: all 0.3s ease;
}
.Courses .input__name .card__input .icon-container .icon::after {
  border: 3px #b61984;
  content: "";
  position: absolute;
  top: 360px;
  left: 31px;
  border-radius: 50px;
  width: 120px;
  height: 40px;
  transition: all 0.25s ease;
  cursor: pointer;
}
.Courses .input__name .card__input .icon-container .icon::before {
  border: 3px #b61984;
  content: "";
  top: 360px;
  left: 31px;
  position: absolute;
  border-radius: 50px;
  width: 120px;
  height: 40px;
  transition: all 0.25s ease;
  box-shadow: inset 0 0 0 60px #b61984;
  cursor: pointer;
  color: #dcd1f0;
}
.Courses .input__name .card__input .icon-container .icon:hover:before {
  box-shadow: inset 0 0 0 1px #b61984;
}

.bg-subcribe {
  position: absolute;
  height: 31rem;
  width: 100%;
  top: 106rem;
  background-color: #aa017e;
}
.bg-subcribe .bg-white {
  position: absolute;
  background-color: rgb(255, 255, 255);
  width: 100%;
  height: 30rem;
}
.bg-subcribe .bg-subcriber {
  position: absolute;
  z-index: 100;
  height: 30rem;
  width: 100%;
  top: 100;
  background-image: url(./images/accent_bottom_wave_01.png);
}

.content_subcriebe {
  position: absolute;
  top: 139rem;
  width: 100%;
  display: flex;
  padding-left: 13rem;
  z-index: 1000;
}
.content_subcriebe .space {
  margin-right: 10rem;
}
.content_subcriebe .contact_us h4 {
  font-size: 23.25px;
  font-weight: 700;
  color: #aa017e;
}
.content_subcriebe .contact_us ul .icon {
  margin-top: 20px;
}
.content_subcriebe .contact_us ul li {
  margin-top: 7px;
}
.content_subcriebe .contact_us ul li i {
  font-size: small;
  margin-right: 10px;
}
.content_subcriebe .contact_us ul li .change {
  color: rgb(255, 255, 255);
}
.content_subcriebe .contact_us ul li .change:hover {
  color: rgb(0, 0, 0);
  cursor: pointer;
}
.content_subcriebe .quick_links h4, .content_subcriebe .about h4 {
  font-size: 23.25px;
  font-weight: 700;
  color: #aa017e;
}
.content_subcriebe .quick_links ul li, .content_subcriebe .about ul li {
  width: 65px;
  margin: 0 0 0 0.5em;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  line-height: 1;
  padding: 0.8em 0;
}
.content_subcriebe .quick_links ul li a, .content_subcriebe .about ul li a {
  text-decoration: none;
}
.content_subcriebe .quick_links ul li a:hover, .content_subcriebe .about ul li a:hover {
  color: rgba(255, 255, 255, 0.7607843137) !important;
}

.newslatter li {
  border: 1px solid rgb(255, 255, 255);
  border-radius: 50px;
  width: 200px;
  height: 50px;
  padding: 10px;
  align-items: center;
  justify-content: center;
  margin: 20px 0;
}
.newslatter li input {
  width: 170px;
  height: 15px;
  text-align: center;
  background-color: #aa017e;
}
.newslatter li input[type=email]::-moz-placeholder {
  text-align: center;
  color: rgb(255, 255, 255);
}
.newslatter li input[type=email]:-ms-input-placeholder {
  text-align: center;
  color: rgb(255, 255, 255);
}
.newslatter li input[type=email]::placeholder {
  text-align: center;
  color: rgb(255, 255, 255);
}
.newslatter button {
  width: 200px;
  height: 50px;
  position: relative;
  border-radius: 50px;
  background-color: #aa017e;
}
.newslatter button::after {
  content: " SUBCRIBE";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: all 0.3s ease;
  border-radius: 50px;
  box-shadow: inset 0 0 0 30px white;
  color: #aa017e;
  display: flex;
  justify-content: center;
  align-items: center;
}
.newslatter button:hover:after {
  box-shadow: inset 0 0 0 1px rgb(255, 255, 255);
  color: black;
}

.footer {
  background-image: url(./images/footer_background.jpg);
  height: 25rem;
  width: 100%;
  position: absolute;
  top: 137rem;
}/*# sourceMappingURL=index.css.map */